<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            
            <a mat-list-item routerLink="/"  routerLinkActive="router-link-active" >
                <i class="material-icons">
                    home
                </i>
                Início
            </a>

            <a mat-list-item routerLink="/products"  routerLinkActive="router-link-active">
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a>

            <a mat-list-item routerLink="/clientes"  routerLinkActive="router-link-active">
                <i class="material-icons">
                    people
                </i>
                Clientes
            </a>

            <a mat-list-item routerLink="/eventos"  routerLinkActive="router-link-active">
                <i class="material-icons">
                    music_note
                </i>
                Eventos
            </a>

            <a mat-list-item routerLink="/casas"  routerLinkActive="router-link-active">
                <i class="material-icons">
                    local_play
                </i>
                Casa de Show
            </a>

            <a mat-list-item routerLink="/vendas"  routerLinkActive="router-link-active">
                <i class="material-icons">
                    shopping_cart
                </i>
                Vendas
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>