
<mat-card>
    <mat-card-title> Remoçao Produto</mat-card-title>
    <form>
        <mat-form-field>
            
             <input matInput disabled="true" placeholder="Nome" [value]="product.name" name="name">
        </mat-form-field>
 
        <mat-form-field>
            <input matInput disabled="true" placeholder="Preco R$" [value]="product.price" name="price">
        </mat-form-field>
        

    </form> 
    <button mat-raised-button (click)="deleteProduct()" color="warn" >
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

